<div class="page-header">
  <%= link_to teams_path, class: 'btn btn-default' do %>
    All Teams
  <% end %>
  <%= link_to edit_team_path(@team), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @team.name %></h1>
  <%#= link_to 'Invite', new_user_invitation_path(team_id: @team.id) %>
</div>


<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @team.name %></dd>

</dl>
