


<div class="row">
  <div class="col-sm-6">
    <h1>Ballot_initiatives</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_ballot_initiative_path, class: 'btn btn-primary' do %>
    Add New Ballot initiative
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Team</th>
            
      </tr>
    </thead>

    <tbody>
      <% @ballot_initiatives.each do |ballot_initiative| %>
        <%= content_tag :tr, id: dom_id(ballot_initiative), class: dom_class(ballot_initiative) do %>
          
            <td><%= link_to ballot_initiative.name, ballot_initiative %></td>
          

                      <td><%= ballot_initiative.team %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
