<div class="page-header">
  <%= link_to ballot_initiatives_path, class: 'btn btn-default' do %>
    All Ballot_initiatives
  <% end %>
  <%= link_to edit_ballot_initiative_path(@ballot_initiative), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show ballot_initiative</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @ballot_initiative.name %></dd>

  <dt>Team:</dt>
  <dd><%= @ballot_initiative.team %></dd>

</dl>
